* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.header img {
  padding-left: 20px;
  height: 100px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.trybewarts-login input {
  margin-right: 5px;
}

.header h1 {
  color: white;
  align-self: center;
}

main {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

main form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  align-self: center;
}

.complete-name {
  flex-direction: row;
}

.email-house {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 10px;
}

.select-house {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 10px;
}

.email-house select {
  width: 50%;

}

.rate-radio {
  flex-direction: row;
}

.agree {
  flex-direction: row;
}

#submit-btn {
  margin: 20px 30px;
}

footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(51, 51, 51);
}

footer h4 {
  padding-top: 10px;
}
