* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Architects Daughter, cursive;
  font-weight: 550;
}

button {
  border: 5px solid black;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.header img {
  padding-left: 20px;
  height: 100px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.trybewarts-login input {
  margin-right: 5px;
}

.header h1 {
  color: white;
  align-self: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

#trybewarts-forms-logo {
  height: 500px;
  align-self: center;
}

main form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main form h2 {
  text-align: center;
  padding: 10px 0;
}

.complete-name {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#input-name {
  width: 48%;
}

#input-lastname {
  width: 48%;
}

.email-house {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 15px 0;
}

#input-email {
  width: 48%;
}

.select-house {
  display: flex;
  flex-direction: row;
  width: 48%;
  align-items: center;
}

.select-house label {
  padding-left: 10px;
  padding-top: 5px;
  width: 20%;
}

.select-house select {
  width: 80%;
}

hr {
  align-self: center;
  color: black;
  width: 80%;
  opacity: 70%;
}

#radio-check {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#radio {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}

#label-family {
  width: 100%;
}

#check {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
}

.rate-radio {
  flex-direction: row;
}

.agree {
  flex-direction: row;
}

#submit-btn {
  margin: 20px 30px;
}

footer {
  background-color: rgb(33, 37, 41);
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer h4 {
  padding-top: 38px;
  text-align: center;
  color: white;
}

textarea {
  resize: none;
}
